@import url(../../../../../../styles/variables.css);

.container {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: fit-content;
  padding: 10px;
  height: fit-content;
  gap: 5px;
  background: var(--dark-primary);
  display: flex;
  text-align: center;
  border-radius: 15px;
  z-index: 4;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container input {
  background: transparent;
  outline: white;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  font-size: 0.9rem;
  border-radius: 5px;
}

.container span {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container button {
  padding: 10px;
  border: none;
  border-radius: 15px;
  background: var(--primary);
  width: 45%;
  color: white;
  transition: filter 0.2s;
}

.container button:hover {
  cursor: pointer;
  filter: brightness(0.6);
}

.container label {
  text-align: center;
}
