@import url(../../../../../styles/variables.css);

.option {
  background: transparent;
  color: white;
  width: 100%;
  height: 20px;
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  cursor: pointer !important;
  transition: background-color 0.2s;
  text-align: left;
  outline: none;
  border: none;
  border-radius: 20px;
}
.option p {
  font-size: 1rem;
}
.option:hover {
  background-color: var(--primary);
}

.iconWrapper {
  width: 15px;
  height: 15px;
}
.iconWrapper svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
