.containerHorizontal {
  width: fit-content;
  min-width: 90%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 5px;

  /* border: 1px solid yellow; */
}

.containerVertical {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* border: 1px solid yellow; */
}

.container * {
  /* border: 1px solid magenta; */
  height: 80%;
}

.containerVertical p,
.containerHorizontal p {
  text-align: left;
  min-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* border: 1px solid purple; */
}
