@import url(../../styles/variables.css);

.container {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  background: white;
  padding: 10px;
  border-radius: 20px;
}

.formsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.formsContainer div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.formsContainer label {
  margin-bottom: 5px;
}

.formsContainer input {
  padding: 5px 10px;
}

.formsContainer button {
  background: var(--primary);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.formsContainer button:hover {
  cursor: pointer;
  filter: brightness(0.7);
}

.error {
  color: red;
  font-size: 0.7rem;
  margin-top: 10px;
}
