@import url(../../../../../../styles/variables.css);

.container {
  position: fixed;
  top: 50%;
  z-index: 999;
  width: fit-content;
  height: fit-content;
  border-radius: 15px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  transform: translatey(-50%);
  background: var(--dark-primary);
}

.container p {
  margin-bottom: 10px;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.container input {
  background: transparent;
  border-radius: 5px;
  outline: none;
  border: 1px solid white;
  color: white;
  padding: 5px 10px 5px 5px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.buttonContainer button {
  outline: none;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  transition: filter 0.2s;
}

.buttonContainer button:hover {
  filter: brightness(0.6);
}

.error {
  font-size: 0.8rem;
}
