@import url("/src/styles/variables.css");

.container {
  background: var(--dark-primary);
  padding: 10px;
  position: absolute;
  width: 100%;
  height: fit-content;
  border-radius: 15px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container p {
  width: 100%;
  font-size: 0.9rem;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  height: 30px;
  gap: 20px;
}

.buttonContainer button:last-child {
  background-color: red;
}
.buttonContainer button:last-child:hover {
  background-color: white;
  color: red;
}

.buttonContainer button {
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background: var(--primary);
  font-size: 1rem;
  transition: background-color 0.3s;
}

.buttonContainer button:hover {
  cursor: pointer;
  background: white;
  color: var(--primary);
}
