@import url("../../../../styles/variables.css");

.container {
  /* border: 1px solid purple; */
  margin-top: 20px;
  min-width: 23%;
  width: fit-content;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: auto;
}

.container * {
  /* border: 1px solid purple; */
}
.message {
  position: relative;
  width: fit-content;
  max-width: 100%;
  height: fit-content;
  border-radius: 20px;
  text-align: left;
  overflow-wrap: break-all;
  padding: 10px;
}

.sent {
  align-self: flex-end;
  background: var(--primary);
  color: white;
}

.received {
  align-self: flex-start;
  background: #eee;
  border: 1px solid black;
}

.senderDetails {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 7px;
  font-size: 0.8rem;
  color: grey;
}

.userLabel {
  /* border: 1px solid purple; */
  width: 60px;
}

.receiveDetails {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 7px;
  font-size: 0.8rem;
  color: grey;
}
