@import url("../../../../styles/variables.css");

/* Container Styles */
.container {
  width: 100%;
  height: 60px;
  background: var(--primary);
  padding-left: 0;
  display: flex;
  align-items: center;
  color: white;
}

.option {
  padding: 10px;
}

/* UserLabel Styles */
.userLabel {
  /* border: 1px solid magenta; */
  width: fit-content;
  flex: 1;
  overflow: hidden;
  height: fit-content;
  padding: 5px 5px 5px 0px;
  font-size: 2rem;
  font-weight: medium;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.userLabel p {
  width: fit-content !important;
  text-overflow: ellipsis !important;
}

.joinCode {
  min-width: fit-content;
  font-size: 1.2rem;
  padding-right: 2%;
}

/* Settings Icon Styles */
.iconWrapper {
  /* border: 1px solid yellow; */
  padding-top: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  padding: 11px 2%;
  width: fit-content;
  height: fit-content;
  pointer-events: auto;
}

.mobileDropdownIcon {
  /* border: 1px solid yellow; */
  margin-bottom: 10px;
  position: relative;
  top: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 2%;
  pointer-events: auto;
}

.iconWrapper svg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.personalJoinCode {
  text-align: center;
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 5px;
  background: var(--primary);
  position: relative;
  border-radius: 10px;
  top: 0;
}

.memberCount {
  width: fit-content;
  background-color: var(--dark-primary);
  padding: 5px;
  border-radius: 7px;
  white-space: nowrap;
  margin-right: 10px;
}
