@import url("/src/styles/variables.css");

.container {
  width: 100%;
  height: 100%;
  background: #09349e;
  box-shadow: 0 4px 2px -2px #06246e;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userLabel {
  height: 100%;
  padding: 10px 0;
  filter: brightness(1.3) !important;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
}

.userLabel p {
  font-size: 1.7rem;
  font-weight: 300;
  color: white;
}

.profilePic {
  width: 35%;
}

.closeIcon {
}

.button {
  background: white;
  color: var(--dark-primary);
  border-radius: 5px;
  background-color: none;
  outline: none;
  border: none;
  width: fit-content;
  height: fit-content;
  transition: transform 0.2s ease-out;
}

.button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
