@import url("../../../../styles/variables.css");

.container {
  width: 100%;
  height: 100%;
  background: #09349e;
  box-shadow: 0 4px 2px -2px #06246e;
}

.userLabel {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  filter: brightness(1.3) !important;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
}

.userLabel p {
  font-size: 1.7rem;
  font-weight: 300;
  color: white;
}

.profilePic {
  width: 35%;
}
