@import url("/src/styles/variables.css");
.userLabel {
  width: 100%;
  height: 100%; /*Must be same width as .tabButton*/
  background-color: none;
  padding: 15px;
  display: flex;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.tabButtonContainer {
  margin-right: auto;
  margin-top: 20px;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  gap: 10px;
}

.title {
  font-weight: 900;
  font-size: 1.5em;
  color: white;
}

.userLabel p {
  font-weight: 900;
  font-size: 1.5em;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Wrapper for the button */
.tabButton {
  border: none;
  outline: none;
  width: 100%;
  height: 40px; /*Must be same width as .userLabel*/
  background-color: transparent;
  display: flex;
  border: 1px solid var(--dark-primary);

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

.active {
  background-color: var(--primary);
}

.tabButton:hover {
  background: var(--primary);
  cursor: pointer;
}

.menuIconVertical {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.sidebarButton {
  position: absolute;
  right: 0;
  color: white;
  background: var(--dark-primary);
  font-size: 1rem;
  font-weight: bolder;
  border: none;
  outline: none;
  width: fit-content;
  height: 100vh;
  z-index: 1007;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebarButton:hover {
  filter: brightness(0.8);
  cursor: pointer;
}
