@import url("../../../../../../styles/variables.css");

.container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translatey(-50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  width: fit-content;
  height: fit-content;
  min-height: 200px;
  z-index: 99;
}

.container input {
  background: var(--primary);
  padding: 10px;
  width: fit-content;
  height: fit-content;
  border-radius: 15px;
  flex: 1;
  background: var(--primary);
}

.container span {
  display: flex;
  background: var(--dark-primary);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px dashed white;
  padding: 20px;
  border-radius: 20px;
}

.container img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.container span:hover {
  filter: brightness(0.7);
}

.container button {
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid var(--primary);
  padding: 10px;
  color: white;
  background: var(--primary);
  transition: background-color 0.2s, color 0.2s;
}

.container button:hover {
  cursor: pointer;
  background: white;
  color: var(--primary);
}

.plusIcon {
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
